

:root{
    --main-text-color:#757575;
    --primary-white-color: #FFFFFF;
    --logo-black-color: #000000;
    --logo-blue-color: #2196F3;
    --title-black-color:#212121;
    --accent-text-color:#2196F3;
    --banner-color-background:#2F303A;
    --collor-rgb-footer:rgba(255, 255, 255, 0.6);

}

ul{
    list-style: none;
}

a{
    text-decoration:none;
    /* cursor: default; */
}

body{
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    
   

} 

/* header site nav*/

.logo{
    
    color: var(--logo-black-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
 
}

   

.weblogo{

    color: var(--logo-blue-color);
    font-size: 26px;
    line-height: 1.19;
   
}

    

.site-nav .link, 
.site-nav .contacts{

    color: var(--title-black-color);
    font-weight: 500;
    line-height: 1.14;

}

.site-nav .link:hover,
.site-nav .link:focus{ color:var(--accent-text-color); }

.site-nav .link.current{ color: var(--accent-text-color); }


.site-nav .contacts{ color: var(--main-text-color); } 

.site-nav .contacts:hover,
.site-nav .contacts:focus{ color: var(--accent-text-color); }

/* Main */

/* Hero */
.hero{
    background-color: var(--banner-color-background);
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}

.hero-title{

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* Button */

.button{
  
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    cursor: pointer;


}


/* Section */

.section-title{

    color:var(--title-black-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}

/* Features */

.feature-list .title{

    color: var(--title-black-color);
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text{ line-height: 1.71px; }



.command-list .title{
    color: var(--logo-black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.command-list .text{

    font-weight: normal;
    font-size: 16px;
    line-height: 1.18px;
    text-align: center;
}


/* Footer */

.footer{ background-color: var(--banner-color-background); }

.logo-footer{

    color: var(--primary-white-color);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;

    
}

.address-name, 
.address-list .data{

    color: var(--primary-white-color);
    line-height: 1.71;
    font-style: normal;

    
}
.address-list .data{ color: var(--collor-rgb-footer); }

.address-list .data:hover,
.address-list .data:focus{ color: var(--accent-text-color); }



/* Portfolio page */

.filters{
    color: var(--logo-black-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    
}

.filters:hover, 
.filters:focus{
    
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    
}

.portfolio-list .portfolio-title{

    color: var(--logo-black-color);
    
    font-weight: 900;
    font-size: 18px;
    line-height: 2;

    
    
}

.portfolio-list .text{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    
   
}

