

:root{
    --main-text-color:#757575;
    --primary-white-color: #FFFFFF;
    --logo-black-color: #000000;
    --logo-blue-color: #2196F3;
    --title-black-color:#212121;
    --accent-text-color:#2196F3;
    --banner-color-background:#2F303A;
    --collor-rgb-footer:rgba(255, 255, 255, 0.6);

}

ul{
    list-style: none;
}
a{
    text-decoration:none;
}

body{
    
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white-color);
    color: var(--main-text-color);
   

} 

/* header site nav*/

.logo{
    
    color: var(--logo-black-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    
}

.weblogo{

    color: var(--logo-blue-color);
}

.site-nav .link{

    color: var(--nav-blue-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus{

    color:var(--accent-text-color);
}
.site-nav .link.current{
    color: var(--accent-text-color);
}


.site-nav .contacts{

    color: var(--contacts-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav .contacts:hover,
.site-nav .contacts:focus{

    color: var(--acent-text-color);
}

/* Main */

/* Hero */

.hero-title{

    color: var(--primary-white-color);
}


/* Section */

.section-title{

color:var(--title-black-color);
}

/* Features */

.feature-list .title{
    color: var(--title-black-color);
}


/* Button */

.button{


    color: var(--primary-white-color);
    background-color: var(--accent-text-color);

}

/* Footer */

.footer{
    background-color: var(--banner-color-background);
}

.logo-footer{

    color: var(--primary-white-color);

    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.address-list .address{
color: var(--collor-rgb-footer);
}


/* Portfolio page */

.filters{
    
    color: var(--logo-black-color);
}

.filters:hover, 
.filters:focus{
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
}

.portfolio-list .portfolio-title{
    color: var(--logo-black-color);
}


